<kt-portlet>

	<kt-portlet-header [class]="'kt-portlet__head--lg'">

		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>{{this.translate.instant("TENANT.TENANT_LIST")}}</span>
			</h3>
		</ng-container>

		<ng-container ktPortletTools>
			<button mat-raised-button matTooltip="{{this.translate.instant('TENANT.CREATE_NEWTENANT')}}" (click)="openCreateEditDialog(true,null)"
				color="primary" type="button">
				<span>{{this.translate.instant('TENANT.NEW_TENANT')}}</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>

		<mat-form-field appearance="fill">
			<mat-label>{{this.translate.instant('MENU.FILTER')}}</mat-label>
			<input matInput (keyup)="applyFilter($event)"
				placeholder="{{this.translate.instant('MENU.SEARCHONTABLE')}}">
			<mat-icon matSuffix></mat-icon>
			<!-- <mat-hint>Hint</mat-hint> -->
		</mat-form-field>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" 
				matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
				<!--<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
						</mat-checkbox>
					</mat-header-cell>

					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
							[color]="'primary'">
						</mat-checkbox>
					</mat-cell>
				</ng-container>-->

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translate.instant('TENANT.NAME_COLUMN')}}
					</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="createdDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{this.translate.instant('TENANT.CREATEDDATE_COLUMN')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.createdDate | date: 'dd/MM/yyyy'}}</mat-cell>
				</ng-container>

				<!-- <ng-container matColumnDef="logo">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Logo</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.logo}}</mat-cell>
				</ng-container> -->

				<ng-container matColumnDef="address">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{this.translate.instant('TENANT.ADDRESS_COLUMN')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.address}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="county">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{this.translate.instant('TENANT.COUNTRY_COLUMN')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.county}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="town">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translate.instant('TENANT.TOWN_COLUMN')}}
					</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.town}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="typeId">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{this.translate.instant('TENANT.TYPEID_COLUMN')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{this.findTenantTypeName(tenant.typeId)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="phoneNumber">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{this.translate.instant('TENANT.PHONENUMBER_COLUMN')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.phoneNumber}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="taxAdministration">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translate.instant('TENANT.TAX_COLUMN')}}
					</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.taxAdministration}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="taxNumber">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{this.translate.instant('TENANT.TAXNUMBER_COLUMN')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">{{tenant.taxNumber}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef>{{this.translate.instant('ACTIONS')}}</mat-header-cell>
					<mat-cell *matCellDef="let tenant">
						<!-- <button mat-icon-button color="primary" matTooltip="Edit tenant"
								(click)="edittenant(tenant)">
								<mat-icon>create</mat-icon>
							</button>&nbsp;

							<button mat-icon-button color="warn" matTooltip="Delete tenant" type="button"
								(click)="deletetenant(tenant)">
								<mat-icon>delete</mat-icon>
							</button>&nbsp; -->

						<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{this.translate.instant('MOREACTIONS')}}">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="deleteTenant(tenant.id)">
								<mat-icon>delete</mat-icon>
								<span>{{this.translate.instant('DELETE')}}</span>
							</button>
							<button mat-menu-item (click)="openCreateEditDialog(false,tenant)">
								<mat-icon>edit</mat-icon>
								<span>{{this.translate.instant('EDIT')}}</span>
							</button>
						</mat-menu>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

			</mat-table>
			<!-- Message for empty data  -->
			<!--<div class="mat-table__message" *ngIf="dataSource.length==0">No records found</div>-->
			<!--<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>-->
		</div>
		<div class="mat-table__bottom">
			<!--<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>-->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>

</kt-portlet>
