<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="categoryForm">
		<div class="kt-portlet__body">
			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				{{this.translate.instant('FORM_ERROR')}}
			</kt-alert>
			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field>
						<mat-select placeholder="{{this.translate.instant('PRODUCTCATEGORY.SELECT_LISTING')}}" (ngModelChange)="listingChangeListener($event)" formControlName="listingId">
							<mat-option *ngFor="let listing of listings" [value]="listing.id">
								{{ listing.name }}
							</mat-option>
						</mat-select>
						<mat-error>{{this.translate.instant('PRODUCTCATEGORY.LISTING_IS_REQUIRED')}}</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field>
						<mat-select placeholder="{{this.translate.instant('PRODUCTCATEGORY.SELECT_PARENT_CATEGORY')}}" formControlName="parentCategoryId">
							<mat-option [value]="0"></mat-option>
							<mat-option *ngFor="let category of listingCategories" [value]="category.id">
								{{ category.categoryName }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="{{this.translate.instant('PRODUCTCATEGORY.ENTER_PRODUCTCATEGORY_NAME')}}" formControlName="categoryName" />
						<mat-error>{{this.translate.instant('PRODUCTCATEGORY.PRODUCTCATEGORY_NAME_IS_REQUIRED')}}</mat-error>
						<mat-hint align="start">{{this.translate.instant('PRODUCTCATEGORY.ENTER_PRODUCTCATEGORY_NAME')}}</mat-hint>
					</mat-form-field>
				</div>

			</div>
			<!--<div class="kt-separator kt-separator--dashed"></div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="text" matInput placeholder="{{this.translate.instant('PRODUCTCATEGORY.ENTER_CLASS_LEVEL')}}" formControlName="classLevel" />
						<mat-error>{{this.translate.instant('PRODUCTCATEGORY.CLASS_LEVEL_REQUIRED')}}</mat-error>
						<mat-hint align="start">{{this.translate.instant('PRODUCTCATEGORY.ENTER_CLASS_LEVEL')}}</mat-hint>
					</mat-form-field>
				</div>
			</div>-->
			<div class="kt-separator kt-separator--dashed"></div>
		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button cdkFocusInitial (click)="dialogClose()" matTooltip="{{this.translate.instant('PRODUCTCATEGORY.CANCEL')}}">{{this.translate.instant('PRODUCTCATEGORY.CANCEL')}}</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="{{this.translate.instant('PRODUCTCATEGORY.SAVE')}}">{{this.translate.instant('PRODUCTCATEGORY.SAVE')}}</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
